body {
  padding: 0;
  /* background-color: #999 !important; */
  margin-bottom: 1em;
  font-size: 80%;
  min-width: 320px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.main-body {
  /* background-color: white !important; */
  max-height: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  background: #fff;
  margin: 0 auto;
  padding: 0;
  border-top: none;
}

.common-bg {
  background-color: #364e71 !important;
}

.nav-body {
  height: 76px;
  color: white;
  font-weight: bold;
}

.navbar-collapse {
  z-index: 1;
}

.job-card {
  max-width: 35rem;
}

.job-card-body {
  background-color: #670e0e;
  border-radius: 5%;
  border-style: solid;
  font-size: 14px;
}

.button-hover:hover {
  background-color: #670e0e;
  color: white;
  border-style: 5px solid;
  border-color: white;
}

.card-header {
  height: 50px;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgb(41 32 32) !important;
}

/* Weather */
.weatherOverview {
  margin: 3%;
  border-radius: 6px;
  color: black;
}

.weather-city-name {
  font-size: x-large;
  font-weight: bold;
}

.day-header {
  background-color: #364e71;
  color: white;
}

.weather-data-size {
  width: 35%;
}
